<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3b6dcb08-3ec8-42c3-b6cc-a923758f383b/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/ipn</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ipn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>de0184bb-2377-4cb4-8b7e-9dbbdd32a99a</ProjectGuid>
    <PublishUrl>https://ipn.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ipn</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>